* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: radial-gradient(circle, rgb(201, 7, 7), rgb(94, 89, 89), white);
    justify-content: center;

}

.container{
    margin-bottom: 30vh;
    margin-top: 30vh;
    padding: 20px;
    width: 40vw;
    height: auto;
    min-height: 40vh;
    align-items: center;
    display: flex;
    border-radius: 8px;
    border: 3px solid red;
    background: white;
    justify-content: space-evenly;
    box-shadow: -15px 15px 10px rgb(148, 21, 21);
}

.container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.formulario input[type="checkbox"],
.formulario input[type="radio"] {
    margin-left: -50px;
}

.formulario input[type="submit"],
.formulario input[type="reset"] {
    padding: 10px 15px;
    margin: 5px 0;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
